<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/fancybox/dist/jquery.fancybox.min.css">
    <meta name="google-site-verification" content="" />
</head>